@model IEnumerable<Book>

@foreach (var p in Model)
{
    <div claвs="card card-outline-primary m-1 р-1">
        <div class="bg-faded р-1">
            <h4>
                @p.Name 
                <span class="badge badge-pill badge-primary" style="float:right">
                    <small>@p.Price.ToString("c")</small>
                </span>
            </h4>
        </div>
        <div class=" card-text р-1 ">@p.Description</div>
    </div>

}